/* style of whole website */
html,body,p,pre,div,img,input,select,label,textarea,form,legend,fieldset,iframe,
span,code,em,b,q,blockquote,code,i,ul,ol,li,dl,dl,dt,table,caption,thead,tbody,tfoot,tr,th,td,
header,nav,section,article,aside,footer,h1,h2,h3,h4,h5,h6,a,button,video,audio,canvas{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Courier New, Courier, monospace sans-serif;
	vertical-align: baseline;
}
/* html5 elements */
header,nav,section,article,aside,footer{
	display: block;
}
/* clear list style */
ol,ul{
	list-style: none;
}
/* set my font-face */
@font-face {
	font-family: "sans-pro";
	src: url(../fonts/sourcesanspro-regular-webfont.eot); /*IE 4+*/
	src: url(../fonts/sourcesanspro-regular-webfont.eot) format("embedded-opentype"),
		url(../fonts/sourcesanspro-regular-webfont.woff) format("woff"),
		url(../fonts/sourcesanspro-regular-webfont.ttf) format("truetype"),
		url(../fonts/sourcesanspro-regular-webfont.svg) format("svg");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Museo";
	src: url(../fonts/museo-slab-500-webfont.eot); /*IE 4+*/
	src: url(../fonts/museo-slab-500-webfont.eot) format("embedded-opentype"),
		url(../fonts/museo-slab-500-webfont.woff) format("woff"),
		url(../fonts/museo-slab-500-webfont.ttf) format("truetype"),
		url(../fonts/museo-slab-500-webfont.svg) format("svg");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Quicksand";
	src: url(../fonts/quicksand-regular-webfont.eot); /*IE 4+*/
	src: url(../fonts/quicksand-regular-webfont.eot) format("embedded-opentype"),
		url(../fonts/quicksand-regular-webfont.woff) format("woff"),
		url(../fonts/quicksand-regular-webfont.ttf) format("truetype"),
		url(../fonts/quicksand-regular-webfont.svg) format("svg");
	font-style: normal;
	font-weight: 400;
}

@font-face{
	font-family: "awesome-icon";
	src: url(../fonts/fontawesome-webfont.eot);
	src: url(../fonts/fontawesome-webfont.eot) format("embedded-opentype"),
		url(../fonts/fontawesome-webfont.woff) format("woff"),
		url(../fonts/fontawesome-webfont.ttf) format("truetype"),
		url(../fonts/fontawesome-webfont.svg) format("svg");
}
.sans-pro,h1,h2,h3,h4,h5,h6{
	font-family : "sans-pro",Helvetica,Arial,Geneva,sans-serif;
}
.quicksand{
	font-family : Quicksand,Helvetica,Arial,Geneva,sans-serif;
}

.museo{
	font-family : Museo,Helvetica,Arial,Geneva,sans-serif;
}
/* response body */
body{
	margin: auto;
}
.col,
.clearfix,
.clear-fix{
	clear: both;
}
.clearfix:before,
.clearfix:after,
.clear-fix:before,
.clear-fix:after,
.col:before,
.col:after{
	content: "";
	display: table;
	clear: both;
}
/* types */
h1{
	font-size: 2.333em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size: 1.333em;
}
h5{
	font-size: 1.167em;
}
h6{
	font-size: 1.111em;
	text-transform: uppercase;
}
.col{
	width: 100%;
	clear: both;
}
[class*="col12-"]{
	float: left;
	display: block;
}
.col12-1{
	width: 8.333%;
}
.col12-2{
	width: 16.666%;
}
.col12-3{
	width: 25%;
}
.col12-4{
	width: 33.333%;
}
.col12-5{
	width: 41.666%;
}
.col12-6{
	width: 50%; 
}
.col12-7{
	width: 58.333%;
}
.col12-8{
	width: 66.666%;
}
.col12-9{
	width: 75%;
}
.col12-10{
	width: 83.333%;
}
.col12-11{
	width: 91.666%;	
}
.col-whole,
.col12-whole
.col12-12{
	width: 100%;
}
/* icons */
*[class~="awe-icon"]:before{
	font-family: "awesome-icon" Courier New, Courier, monospace, sans-serif;
	content: "";
	display: inline-block;
	vertical-align: baseline;
	font-size: 1em;
	font-weight: normal;
	margin-right: 5px;
}
.awe-icon-pencil:before{
	content: "\f040";
}
